<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<li class=\"item\">\n <a href=\"/job_detail/6f0ef11eb3e6b9fb0nVz3d-1Fw~~.html\" ka=\"job_list_376\" data-itemId=\"376\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.376\" data-index=\"0\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200219/50a193d33737c3f74a1f72f3e018a93e4c1ee217d80c58fb3eaf3c49a185012d_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python程序员</span></h4><span class=\"salary\">8-16K</span>
        </div>
        \n
        <div class=\"name\">乐谷游戏</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>1-3年</em><em>大专</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/41cf33d33334d0b90HFy0tW7ElI~.html\" ka=\"job_list_377\" data-itemId=\"377\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.377\" data-index=\"1\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20190511/2f609fbd1c24c9617e0f54f24f30d7ff7194265d6ee9171fef7b20817c75c4bc.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">少儿编程老师（Python课程）</span></h4><span
                class=\"salary\">8-10K</span></div>
        \n
        <div class=\"name\">卡巴Kabba教育</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>1-3年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/e316929e9372aa0333x52965FVM~.html\" ka=\"job_list_378\" data-itemId=\"378\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.378\" data-index=\"2\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20190327/c0d96407f1ba19ffe4c1e31d2fd62833e5ae1bcdcb5bb7d40eda4c7a81ca6cdd_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python技术合伙人</span></h4><span
                class=\"salary\">15-30K·24薪</span></div>
        \n
        <div class=\"name\">海岸跃动</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>5-10年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/29532a39b3d64ea303Vy3Ny1EFU~.html\" ka=\"job_list_379\" data-itemId=\"379\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.379\" data-index=\"3\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200727/0ece52b0cadc96ecab9a029e81fee5f72b7ff3b8069a0177e47ac2c8028cc2c4_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python</span></h4><span class=\"salary\">12-20K·14薪</span>
        </div>
        \n
        <div class=\"name\">绿盟科技</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/a77d8a328204bd8e3nB43dm4EVo~.html\" ka=\"job_list_380\" data-itemId=\"380\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.380\" data-index=\"4\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/bar/20191216/3fe87508c80a186d727b7df85b42048ebe1bd4a3bd2a63f070bdbdada9aad826.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">前端工程师</span></h4><span class=\"salary\">8-11K·14薪</span>
        </div>
        \n
        <div class=\"name\">康博嘉</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>1-3年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/9a2fea86b4d185740HB-09q6EVY~.html\" ka=\"job_list_381\" data-itemId=\"381\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.381\" data-index=\"5\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20200429/8f64c9d0b30a53c434b26799ca78966cec9b49ecaf1604cb263748f03d5c2b0f.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">武汉 急聘 C/C++/JAVA/Python 工程师</span></h4><span
                class=\"salary\">15-30K·15薪</span></div>
        \n
        <div class=\"name\">华为</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/da8df0ce9854d5341nR53NW0ElNU.html\" ka=\"job_list_382\" data-itemId=\"382\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.382\" data-index=\"6\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200219/50a193d33737c3f74a1f72f3e018a93e4c1ee217d80c58fb3eaf3c49a185012d_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python开发工程师</span></h4><span class=\"salary\">5-10K</span>
        </div>
        \n
        <div class=\"name\">乐谷游戏</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>大专</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/e44b8eb2d2ae454a1nR-3t24E1FS.html\" ka=\"job_list_383\" data-itemId=\"383\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.383\" data-index=\"7\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200727/0ece52b0cadc96ecab9a029e81fee5f72b7ff3b8069a0177e47ac2c8028cc2c4_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">云平台开发工程师</span></h4><span class=\"salary\">13-20K·14薪</span>
        </div>
        \n
        <div class=\"name\">绿盟科技</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/1a5f0bbd157c5a0f33d82dq1FFI~.html\" ka=\"job_list_384\" data-itemId=\"384\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.384\" data-index=\"8\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20190511/2f609fbd1c24c9617e0f54f24f30d7ff7194265d6ee9171fef7b20817c75c4bc.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">少儿编程课程设计-Python方向</span></h4><span class=\"salary\">6-10K·13薪</span>
        </div>
        \n
        <div class=\"name\">卡巴Kabba教育</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>1-3年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/1bf19ebf3a561b0b0Hd-3N--GVc~.html\" ka=\"job_list_385\" data-itemId=\"385\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.385\" data-index=\"9\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20200429/8f64c9d0b30a53c434b26799ca78966cec9b49ecaf1604cb263748f03d5c2b0f.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Java/python 开发工程师</span></h4><span class=\"salary\">15-30K·14薪</span>
        </div>
        \n
        <div class=\"name\">华为</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/299a407098a734a90Hd_3Nm4FlQ~.html\" ka=\"job_list_386\" data-itemId=\"386\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.386\" data-index=\"10\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200219/50a193d33737c3f74a1f72f3e018a93e4c1ee217d80c58fb3eaf3c49a185012d_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python开发工程师</span></h4><span class=\"salary\">5-10K</span>
        </div>
        \n
        <div class=\"name\">乐谷游戏</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>大专</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/5fbe84fb31ca48b03nx93tq6F1E~.html\" ka=\"job_list_387\" data-itemId=\"387\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.387\" data-index=\"11\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20200429/8f64c9d0b30a53c434b26799ca78966cec9b49ecaf1604cb263748f03d5c2b0f.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">高级软件开发工程师</span></h4><span
                class=\"salary\">25-50K·16薪</span></div>
        \n
        <div class=\"name\">华为</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/79683750c96e61261nR_2Ny_EVNZ.html\" ka=\"job_list_388\" data-itemId=\"388\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.388\" data-index=\"12\">\n <img
        src=\"https://img.bosszhipin.com/beijin/mcs/chatphoto/20200219/50a193d33737c3f74a1f72f3e018a93e4c1ee217d80c58fb3eaf3c49a185012d_s.jpg?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">Python</span></h4><span class=\"salary\">10-15K</span></div>
        \n
        <div class=\"name\">乐谷游戏</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>3-5年</em><em>大专</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n
<li class=\"item\">\n <a href=\"/job_detail/5e43d435906b1d0e1Xd43d-0EVU~.html\" ka=\"job_list_389\" data-itemId=\"389\"
                         data-lid=\"nlp-eiGC5pgvdZ.search.389\" data-index=\"13\">\n <img
        src=\"https://img.bosszhipin.com/beijin/upload/com/logo/20200429/8f64c9d0b30a53c434b26799ca78966cec9b49ecaf1604cb263748f03d5c2b0f.png?x-oss-process=image/resize,w_120,limit_0\"/>\n
    <div class=\"text\">\n
        <div class=\"title\"><h4><span class=\"title-text\">arm平台bsp,驱动开发</span></h4><span
                class=\"salary\">22-35K</span></div>
        \n
        <div class=\"name\">华为</div>
        \n
        <div class=\"msg\"><em>武汉</em><em>5-10年</em><em>本科</em></div>
        \n
    </div>
    \n </a>\n
</li>
\n

</body>
</html>