{% extends "index.html" %}
{% block title %}career-planning{% endblock title %}

{% block coreBody %}
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-xxl-8">
                        {% include 'messages/message.html' %}
                    </div>
                    <div class="col-xl-5 col-xxl-4">
                        {% include 'messages/msg_form.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        {% include 'messages/msg_list.html' %}
                        {% include '_page.html' %}
                    </div>
                </div>
            </div>
        </div>
        {% include '_footer.html' %}
    </div>
    <!--end::Content-->
{% endblock %}


