{% extends "index.html" %}
{% block title %}career-planning{% endblock title %}

{% block coreBody %}
  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container">
        <!--begin::Dashboard 看板-->
        {%  include 'messages/message.html' %}
        <!--end::Dashboard-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
      {% include '_footer.html' %}
  </div>
  <!--end::Content-->
{% endblock %}


