<!--begin::项目简介与留言板块说明 -->
<div class="card card-custom card-shadowless bg-white-o-5 gutter-b">
    <div class="card-header border-0">
        <h3 class="card-title align-content-center flex-column" style="width: 100%">
            <span class="card-label font-weight-bolder font-size-h4 text-dark-75">留言版规划</span>
            <span class="text-muted mt-3 font-weight-bold font-size-lg">以下关于项目介绍以及开通留言区的目的</span>
        </h3>
        <div class="card-body pt-1 pb-4 pt-4">
            <div class="pb-8">
                <p class="text-dark-75 font-weight-bold mb-1 font-size-h5">
                    <span class="text-success font-size-h3">career-plan-info</span>
                    招聘数据获取于2020-11月份，项目基于Flask框架开发实现，利用docker完成线上部署，功能并不复杂，
                    但涉及到数据抓取、处理，再到web呈现，docker部署，整个过程恰好就是我过去一年的主要工作内容。
                    完成这个项目的主要目的有两个： 1.想通过对招聘信息数据的分析，找到自己该努力的方向 2.完成一个小小的总结
                </p>
            </div>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                欢迎在下面分享个人网站链接；
            </p>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                如果你有最新的招聘信息，好的学习资料，好的Python开源项目，也可以分享一下链接;
            </p>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                如果对该项目的有修改的意见也请在下面留言.
            </p>
            <p class="text-muted font-size-lg font-weight-bold">
                PS: 大家留言请绅士一点；前端UI来自某网站的模板。
            </p>
        </div>
    </div>
</div>
<!--end::Tables Widget 5-->