<!--begin::项目简介与留言板块说明 -->
<div class="card card-custom card-shadowless bg-white-o-5 gutter-b">
    <div class="card-header border-0">
        <h3 class="card-title align-content-center flex-column" style="width: 100%">
            <span class="card-label font-weight-bolder font-size-h4 text-dark-75">留言版规划</span>
            <span class="text-muted mt-3 font-weight-bold font-size-lg">以下关于项目介绍以及开通留言区的目的</span>
        </h3>
        <div class="card-body pt-1 pb-4 pt-4">
            <div class="pb-8">
                <p class="text-dark-75 font-weight-bold mb-1 font-size-h5">
                    <span class="text-success font-size-h3">career-plan-info</span>
                    项目主要完成的时间：辞去上一份工作后，为下一份工作做准备的过程；该项目本身难度并不大（实际上应该算很小），
                    但整个项目涉及到数据抓取、处理、可视化(原计划制作各种图表来展示分析过程,暂搁浅)，再到用web呈现，整个过程恰好就是本人过去一年的主要工作内容，
                    也算是借着这个项目做一个小小的总结。其实，主要还是想通过对招聘信息数据的简单分析，找到自己该努力的方向。
                </p>
            </div>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                如果你也开通了类似的规划网站，也可以在下面分享连接，必去观摩点赞；
            </p>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                如果你有最新的招聘信息，好的学习资料，好的Python开源项目，也可以分享一下链接;
            </p>
            <p class="text-dark-75 font-size-h5 font-weight-bold">
                如果对该项目的有修改的意见也请在下面留言。
            </p>
            <p class="text-muted font-size-lg font-weight-bold">
                PS: 大家留言请绅士一点；前端UI来自某网站的模板。
            </p>
        </div>
    </div>
</div>
<!--end::Tables Widget 5-->