<div class="card card-custom card-shadowless bg-gray-100 gutter-b">
    <div class="card-header border-0 pt-4">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder font-size-h4 text-dark-75">留言区</span>
            <span class="text-muted mt-3 font-weight-bold font-size-lg">感谢大家的留言...</span>
        </h3>
    </div>
    <div class="flex-row card-body">
        {% for item in msgs %}
            <div class="card-title align-items-start flex-column pt-4" style="margin: 0.4rem">
                <span class="card-label font-size-h6 text-dark-50 pr-2">{{ item['name'] }}</span>
                <span class="text-muted mt-3 font-weight-bold font-size-lg">{{ item['create_at'] }}</span>
            </div>
            <div class="card card-custom card-shadowless h-45px"
                 style="border-radius: 0; display: flex; flex-direction:row;align-items: center">
                <div class="font-size-h5 text-dark-75 pl-2 " style="align-items: center">{{ item['body'] }}</div>
            </div>
        {% endfor %}
    </div>
</div>
