<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard 看板-->
            {% include 'dashboard/firstRow.html' %}
            {% include 'dashboard/secondRow.html' %}
            {% include 'dashboard/thirdRow.html' %}
            {% include 'dashboard/fourthRow.html' %}
            {% include '_footer.html' %}
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->