<!--begin::Tables Widget 5 最后一行 -->
<div class="card card-custom card-shadowless bg-gray-100">
    <!--begin::Header-->
    <div class="card-header border-0 pt-7">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder font-size-h4 text-dark-75">具体要求</span>
            <span class="text-muted mt-3 font-weight-bold font-size-sm">不同薪资阶段的技术要求(以下均按照最低值划分)</span>
        </h3>
        <div class="card-toolbar">
            <ul class="nav nav-pills nav-pills-sm nav-dark">
                <li class="nav-item ml-0">
                    <a class="nav-link py-2 px-4 active font-weight-bolder font-size-sm"
                       data-toggle="tab" href="#kt_tab_table_5_1">10k左右</a>
                </li>
                <li class="nav-item ml-0">
                    <a class="nav-link py-2 px-4 font-weight-bolder font-size-sm"
                       data-toggle="tab" href="#kt_tab_table_5_2">10-20k</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-2 px-4 font-weight-bolder font-size-sm"
                       data-toggle="tab" href="#kt_tab_table_5_3">20k以上</a>
                </li>
            </ul>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-0 pb-4">
        <div class="tab-content mt-2" id="myTabTable5">
            <!--begin::Tap pane-->
            <div class="tab-pane fade show active" id="kt_tab_table_5_1" role="tabpanel"
                 aria-labelledby="kt_tab_table_5_1">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                        <tr>
                            <th class="p-0 min-w-100px"></th>
                            <th class="p-0 min-w-100px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in fourthChart['first'].items() %}
                            <tr>
                                <td class="pl-0">
                                    <span class="label label-lg label-light-info label-inline font-size-h5">{{ key }}</span>
                                </td>
                                <td class="text-left"
                                    style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
                                    {% for item in value %}
                                        <div class="font-weight-normal text-dark-75 pr-5 pb-3 font-size-lg"
                                             style="width: 50%; min-width: 50%;">{{ item }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end::Tablet-->
            </div>
            <!--end::Tap pane-->
            <!--begin::Tap pane-->
            <div class="tab-pane fade" id="kt_tab_table_5_2" role="tabpanel"
                 aria-labelledby="kt_tab_table_5_2">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                        <tr>
                            <th class="p-0 min-w-100px"></th>
                            <th class="p-0 min-w-100px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, value in fourthChart['second'].items() %}
                            <tr>
                                <td class="pl-0">
                                    <span class="label label-lg label-light-info label-inline font-size-h5">{{ key }}</span>
                                </td>
                                <td class="text-left"
                                    style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
                                    {% for item in value %}
                                        <div class="font-weight-normal text-dark-75 pr-5 pb-3 font-size-lg"
                                             style="width: 50%; min-width: 50%;">{{ item }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end::Tablet-->
            </div>
            <!--end::Tap pane-->
            <!--begin::Tap pane-->
            <div class="tab-pane fade" id="kt_tab_table_5_3" role="tabpanel"
                 aria-labelledby="kt_tab_table_5_3">
                <!--begin::Table-->
                <div class="table-responsive">
                    <table class="table table-borderless table-vertical-center">
                        <thead>
                        <tr>
                            <th class="p-0 min-w-100px"></th>
                            <th class="p-0 min-w-100px"></th>
                        </tr>
                        </thead>
                        {% for key, value in fourthChart['third'].items() %}
                            <tr>
                                <td class="pl-0">
                                    <span class="label label-lg label-light-info label-inline font-size-h5">{{ key }}</span>
                                </td>
                                <td class="text-left"
                                    style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;">
                                    {% for item in value %}
                                        <div class="font-weight-normal text-dark-75 pr-5 pb-3 font-size-lg"
                                             style="width: 50%; min-width: 50%;">{{ item }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!--end::Tablet-->
            </div>
            <!--end::Tap pane-->
        </div>
    </div>
    <!--end::Body-->
</div>
<!--end::Tables Widget 5-->